<!DOCTYPE html>
  <head>
    <title>Mana lapa</title>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <ul class="menu">
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/calc">Calc</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <dic class="container">
        <h1>Welcome Home!</h1>
    </div>
  </body>
</html>